:root {
  --td-font-family: "LXGW WenKai Screen", sans-serif;
  --td-font-family-medium: "LXGW WenKai Screen", sans-serif;
}

::view-transition-new(root),
::view-transition-old(root) {
/* 关闭默认动画，否则影响自定义的主题切换动画的执行 */
   animation: none;
}

.dark::view-transition-old(root) {
  z-index: 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  background: #fefefe;
  color: #3b3b3b;
}

html.dark {
  background: #1c1f24;
  color: #c8ccd0;
}