:root {
  --td-font-family: "LXGW WenKai Screen", sans-serif;
  --td-font-family-medium: "LXGW WenKai Screen", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  background: #fefefe;
  color: #3b3b3b;
}

html.dark {
  background: #1c1f24;
  color: #c8ccd0;
}